.home {
    background-color: rgb(251, 195, 122);
}

.content>p {
    font-size: 30px;
    margin-top: 60px;
    margin-left: 95px;
    font-family: 'Preahvihear';
}

.shop_btn {
    margin-left:50px;
text-decoration: none;
}
.shop_btn a{
text-decoration: none;
color:azure;
}
.grocery_img{
    width: 600px;
    height: auto;
}

