
nav{
    font-size: 18px;

}
.navbar-nav{
   margin-left: auto;
   margin-right: auto;
}

.navbar-brand{
    margin-left:80px;
}

.shopicon{
    margin-right:80px;
    margin-left:80px;
}

li{
    font-size: 18px;
} 

.cart_img{
    width: 48px;
}