.footer_section {
    background-color: rgb(63, 63, 63);
    color: white;
    position: absolute;
    
    left: 0px;
    right: 0px;


}

.main {
    margin-left: 20%;
    justify-content: space-around;
}